@import "../../Global.scss";

.Details {
    margin-top: 20px;
    & .ant-card {
        background: #2a2926;
        margin: 24px;
        max-width: 1200px;
    }
}

.DetailsTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .ant-typography {
        margin: 0;
    }
    & .ant-btn,
    & .ant-btn:hover {
        @include details-wrapper-submit;
    }
}

@media(max-width: 768px) {
    .DetailsTitle {
        & .ant-typography {
            font-size: 24px;
        }
    }
    
}

@media(max-width: 425px) {
    .DetailsTitle {
        & .ant-typography {
            font-size: 14px;
        }
    }
    
}