.Layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1920px;
    // margin: 0 64px;
}

// @media (max-width: 425px) {
//     .Layout {
//         margin: 0 64px;
//     }
// }