.Spinner {
    & .content-hide {
        display: none;
    }
    & .content-show {
        display: flex;
    }
}

.Spinner.hide {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    flex: 1;
    opacity: 0.4; 
    & .ant-spin-dot {
        width: 550px;
        height: 400px;
    }
}

@media (max-width: 768px) {
    .Spinner {
        & .ant-spin-dot {
            width: 100%;
            height: 200px;
        }
    }
}