.Header {
    & .logo_wrapper {
        padding: 0;
        margin: 24px;
        display: flex;
        justify-content: flex-start;
    }
}

@media (max-width: 1024px) {
    .Header {
        & .ant-row {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        & .logo_wrapper {
            padding: 0;
            margin: 24px;
            display: flex;
            justify-content: flex-start;
        }
    }
}