@import "../../Global.scss";

.Search {
    max-width: 600px;
    & .ant-input {
        background: transparent;
        border: 2px solid $main-color;
        border-radius: 0;
        padding: 12px;
    }
    & .ant-input-group-addon {
        border: 2px solid $main-color !important;
        border-radius: 0;
        padding: 0 12px !important;
        & .ant-btn {
            background: transparent;
            border: none;
        }
    }
    & .ant-input:focus,
    & .ant-input:hover,
    & .ant-input:target {
        border: 2px solid $main-color !important;
    }
}

@media(max-width: 1024px) {
    .Search {
        max-width: 100%;
        & .ant-input {
            padding: 6px;
        }
        & .ant-input::placeholder {
            font-size: 12px;
        }
    }
}