.CardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    & .gutter-row {
        margin: 32px 32px 32px 0;
        display: flex;
        justify-content: flex-start;
    }
    & .ant-card {
        border: 1px solid #fcdf2a !important;
    }
}

@media (max-width: 425px) {
    .CardList {
        & .gutter-row {
            margin: 24px 0;
        }
    }
}

@media (max-width: 1024px) {
    .CardList {
        justify-content: center;
    }
}